input[type=range] {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.5);
    height:3px;
    vertical-align: middle;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-image: url('https://googledrive.com/host/0B4yKyQ6kC8o5eHlVbnBodzJFX0k/Images/Icones/btnSld.png');
    background-color: rgba(0,0,0,0);
    width: 23px;
    height: 23px;    
}

input[type="range"]::-moz-range-thumb {
     -webkit-appearance: none;
    background-image: url('https://googledrive.com/host/0B4yKyQ6kC8o5eHlVbnBodzJFX0k/Images/Icones/btnSld.png');
    background-color: rgba(0,0,0,0);
    width: 23px;
    height: 23px;  
    border: 0;
	outline: none;
}
input[type="range"]::-ms-fill-upper {
    background-color: rgba(0,0,0,0.5);
}
input[type="range"]::-ms-fill-lower {
        background-color: rgba(0,0,0,0.5);
}
input[type="range"]::-ms-thumb  {
    background-image: url('https://googledrive.com/host/0B4yKyQ6kC8o5eHlVbnBodzJFX0k/Images/Icones/btnSld.png');
    width: 23px;
    height: 23px; 
}
input[type="range"]::-ms-ticks-after {
}
input[type="range"]::-ms-ticks-before {
}
input[type="range"]::-ms-tooltip  {
}


.cssInp{     
    height: 20px;
    text-align : center;
} 

.cssInp, .cssLst{
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3) inset;
    background-color:#444444;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #ffffff; 
    font-size:14px;
    font-style:normal;
    font-weight:normal;

    padding: 0px;
    border-spacing: 0px;

    border-top-color: #ffffff; 
    border-right-color: #ffffff; 
    border-left-color: #ffffff; 
    border-bottom-color: #ffffff; 

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;

    border-top-width:1px;
    border-right-width:1px;
    border-left-width:1px;
    border-bottom-width:1px;
}

.cssLst{
}

.nomDeParametre,.nomDeParametreItalic{
    color: #d7d7d7;    
}

.nomDeParametreItalic{
    font-style: italic;
}

.classBtnReglage, .classBtnClose, .classBtnReglageFocus{
    cursor: pointer;
}

.classBtnReglage:hover, .classBtnClose:hover, .classBtnReglageFocus:hover {
    background: rgba(255,255,255,0.3);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.15));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.15));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.15));
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.15));
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3),rgba(255,255,255,0.15));
    text-decoration: none;
}

.classBtnReglageFocus{
    float:left;
    padding-top: 1px;
}

.classSldFocus{
    width:200px;
}
.classSldReglageRapide{
    width:125px;
}
.classSldFocale{
    width:200px;
}

.classBtnReglage{
    float:right;
    padding:0px;
}

.classBtnClose{
    width: 30px;
    height: 25px;
    float:right;
}

.tableAvecSld,.tableAvecSldFocale,.tableAvecSldTriangleExpo tr{
    height:23px;
}


.classInfoNavigateur{
    color: #333333;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:14px;
    font-style: italic;
    margin-bottom: 10px;
}

.zoneSimulateur{
    display: flex;    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.simulateur {
    background-image: url('https://googledrive.com/host/0B4yKyQ6kC8o5eHlVbnBodzJFX0k/Images/Papier%20peint/Fond.png');
    background-repeat: repeat;

    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #ffffff; 
    font-size:14px;    

    display: table;
    padding-bottom: 7px;
    padding-right: 0px;
    padding-left: 0px; 
    padding-top: 0px;
    margin: 0px;

    float:left;

    width: 100%;
}


.barreDeTitre{
    font-style: italic;
    padding: 3px;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.8);
    display: flex;

}

.classTitre{
    font-size:17px;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow:  2px 2px 2px #000000;
}

.classNomDuSoft{
    font-size:17px; 
    float:left;
    text-shadow:  2px 2px 2px #000000;
}

.classVersionDuSoft{
    font-size:10px; 
    float:left;
    padding-left: 13px;
    padding-top: inherit;
    text-shadow: 1px 1px 1px #000000;
}

.classBarreDeTache{
    background: rgba(0,0,0,0.1);
    margin-bottom: 7px;
    border: 1px solid rgba(0,0,0,0.1);
}

.tableauBarreDeTache{
    width: 100%;
}

.tableauBarreDeTache td{
    border-left: 1px solid rgba(255,255,255,0.8);
    padding-left: 5px;

}

.tableauBarreDeTache tr td:first-child{
    border-left: 0px;
    padding-left: 0px;
}

.tableAvecSld td{
    border-left: none;
}

.classInfoUtilisateur{
    color: #dddddd;
    font-style: italic;
}

.classReglagesFocus{
    display:table;
}

.elementMenuFocus{
    float:left;
}

.classVueEXIF{
    font-size:11px;
    font-style: italic;
    
}
.classTableauEXIF td{
    width:40px;
    text-align:center;
}
.classTableauEXIF td:first-child{
    width:50px;
}


.classViseur,.classVueHistogrammes,.classVueFlouDeMiseAuPoint,.classReglagesRapides,.classReglagesFocus,.classReglagesVue{
    margin-bottom: 7px;
}

.classViseur, .classReglagesRapides,.classReglagesVue,.classReglagesFocus{
    padding: 7px;
    margin-left: 7px;    
    float:left;
}


.classBtnReglage:hover, .classBtnClose:hover, input[type="checkbox"]:hover {
    cursor: pointer;
}

.classViseur{
    background: rgba(0,0,0,1);
        
}

.classVueHistogrammes,.classVueFlouDeMiseAuPoint{
     padding: 7px;
     float:left;
     margin-left: 7px; 
     background: rgba(0,0,0,0.4);
     border-radius: 6px 6px 6px 6px;  
}

.classCvsPhoto{
    position: absolute;
}

.classCurseurExposition{
	text-align: center;
    margin-left: 30px;
}

.classReglagesRapides{
	float:left;	
}

.classReglagesVue{
    background: rgba(0,0,0,0.17);
    border-radius: 6px 6px 6px 6px;   
}
.classReglagesFocus{
    background: rgba(0,0,0,0.17);
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    /*margin-left: 7px;*/
}
.nomDeVue{
    font-style: italic;
    display:inline;
}


.tableAvecSldFocale,.tableAvecSldTriangleExpo,.classEnsembleRdbModeDePriorite{
    margin-top:24px;
}

.classEnsembleRdbModeDePriorite{
    text-align: center;
    display: table-caption;
}

.classEnsembleRdbModeDePriorite td{
    padding-right: 3px;
    padding-left: 3px;
}
.classEnsembleRdbModeDePriorite td:first-child{
    padding-right: 3px;
    padding-left: 0px;
}